/* Gaya Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0a33;
    padding-top: 20px;
}
.sidebar-header {
    padding: 15px 20px;
    background-color: #1e2649;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}
.sidebar a:hover {
    background-color: #dadadf;
    color: black;
}
.sidebar a.active {
    background-color: #0054c2; /* Warna latar belakang saat aktif */
    color: black; /* Warna teks saat aktif */
}

/* Gaya Umum */
body {
    font-family: 'Merriweather', serif; /* Untuk heading */
    margin: 0;
    padding: 0;
    background-image: url('../images/bgkat.jpg'); /* Path relatif ke gambar */
    background-size: cover;
    background-position: center;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.title-container {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.title {
    font-size: 2em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    font-weight: bold;
}