@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


/* Gaya Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0a33;
    padding-top: 20px;
}
.sidebar-header {
    padding: 15px 20px;
    background-color: #1e2649;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}
.sidebar a:hover {
    background-color: #dadadf;
    color: black;
}
.sidebar a.active {
    background-color: #0054c2; /* Warna latar belakang saat aktif */
    color: black; /* Warna teks saat aktif */
}

/* Gaya Umum */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/1.jpg'); /* Path relatif ke gambar */
    background-size: cover;
    background-position: center;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.title-container {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.title {
    font-size: 2em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    font-weight: bold;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.content-wrapper {
    background-color: white; /* Warna latar belakang putih */
    padding: 20px; /* Tambahkan padding untuk ruang di dalam */
    margin: 20px 0; /* Tambahkan margin untuk jarak vertikal */
    border-radius: 5px; /* Untuk sudut yang lebih halus */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}

/* Gaya untuk card dashboard */
.dashboard-cards {
    display: flex; /* Untuk menampilkan card secara horizontal */
    justify-content: space-around; /* Untuk memberikan jarak antar card */
    margin-top: 30px; /* Margin atas untuk pemisahan */
}

.card {
    width: 30%; /* Lebar card */
    padding: 20px; /* Padding di dalam card */
    border-radius: 5px; /* Sudut yang halus */
    color: white; /* Warna teks di dalam card */
}

.card.purple {
    background-color: #6f42c1; /* Warna ungu */
}

.card.green {
    background-color: #28a745; /* Warna hijau */
}

.card.teal {
    background-color: #20c997; /* Warna teal */
}
.hero-text {
    text-align: center;
    margin-top: 5px;
    padding: 15px;
    background-color: #007bff; /* Warna background biru */
    color: white; /* Warna teks putih */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ubah lebar untuk membuatnya lebih panjang */
}
.hero-text h1 {
    font-size: 36px;
    font-weight: bold;
}
.hero-text p {
    font-size: 20px;
    margin-top: 10px;
}